# Directories #
/build/
target/

# OS Files #
.DS_Store

*.class

# Package Files #
*.war
*.ear
*.db


######################
# Windows
######################

# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini


######################
# OSX
######################

.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Linux
######################


######################
# Eclipse
######################

*.pydevproject
.metadata
tmp/**
tmp/**/*
**/eclipsebin/**
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
/src/main/resources/rebel.xml

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Ignoring .svn folder
.svn/*

# Git files created by Eclipse
**/.gitginore


######################
# Hybris 
######################

# Files
build.xml
extensioninfo.xsd
hmc.xsd
platformhome.properties
items.xsd
beans.xsd
**/*-testclasses.xml
**/*-webtestclasses.xml
.pmd
.spring[Bb]eans
ruleset.xml
.lastupdate

# Folders
# Folders - Hybris Specific
**/data/
**/log/
**/temp/
.metadata/
**/bin/ext-*/
**/bin/platform/
**/bin/modules/
**/RemoteSystemsTempFiles/
**/.externalToolBuilders/
**/licences/
**/config/languages/
**/config/licence/
**/config/security/
**/config/solr/
**/config/tcServer/
**/config/tomcat/
**/config/readme.txt
**/config/user.properties
build-tools
installer

# Folders - Automagically Generated
**/classes/
**/gensrc/
**/hmc/bin/
**/hmc/classes
**/web/addonsrc/
**/web/commonwebsrc/
**/web/testclasses/
**/web/webroot/_ui/addons/
**/web/webroot/cmscockpit/
**/web/webroot/cockpit/
**/web/webroot/productcockpit/

**/yb2bacceleratorstorefront/web/webroot/_ui/responsive/common/js/acc.adminfeature.js
**/yb2bacceleratorstorefront/web/webroot/_ui/responsive/common/js/acc.ajaxCallHandler.js
**/yb2bacceleratorstorefront/web/webroot/_ui/responsive/common/js/acc.carousel.js
**/yb2bacceleratorstorefront/web/webroot/_ui/responsive/common/js/acc.cart.js
**/yb2bacceleratorstorefront/web/webroot/_ui/responsive/common/js/acc.common.js
**/yb2bacceleratorstorefront/web/webroot/_ui/responsive/common/js/acc.custom.js
**/yb2bacceleratorstorefront/web/webroot/_ui/responsive/common/js/acc.feature.js
**/yb2bacceleratorstorefront/web/webroot/_ui/responsive/common/js/acc.global.js
**/yb2bacceleratorstorefront/web/webroot/_ui/responsive/common/js/acc.minicart.js
**/yb2bacceleratorstorefront/web/webroot/_ui/responsive/common/js/acc.navigation.js
**/yb2bacceleratorstorefront/web/webroot/_ui/responsive/common/js/acc.product.js
**/yb2bacceleratorstorefront/web/webroot/_ui/responsive/common/js/acc.productDetail.js
**/yb2bacceleratorstorefront/web/webroot/_ui/responsive/common/js/acc.productlisting.js
**/yb2bacceleratorstorefront/web/webroot/_ui/responsive/theme-alpha/css/style.css
**/yb2bacceleratorstorefront/web/webroot/_ui/responsive/theme-lambda/css/style.css


# Spartacus/Composable Storefront specific
**/spartacussampledata/gensrc/
**/spartacussampledata/classes/

#  Addon specific copy folders
**/_ui/addons
**/_ui-src/addons/b2bacceleratoraddon
**/views/addons
**/tld/addons
**/tags/addons
**/messages/addons
*_bof.jar

######################
# IntelliJ
######################
.idea/

# Ignore generated frontend files (less, fonts, javascript)
/hybris/config/solr/embedded/solr.xml
/hybris/config/local.properties
/hybris/config/hybris4intellij.properties

/README
hybris-ems
hybris-Mobile-Apps-SDK
hybris-oms
hybris-sbg
licenses
Servers

/idea-module-files/
**/idea-module-files
/hybris/config/solr/embedded/solr.xml
idea-iml-files
/hybris/bin/dummy.txt
SgaSerenity.iml
out/


# ignore smartedit node_modules


######################
# Spartacus Angular Frontend
######################
# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production build
/dist/
/build/

# Angular specific
/.angular/
/coverage/
/.nyc_output/
/libpeerconnection.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.prod
.env.*.local

# Angular CLI cache
.angular/cache/

# Spartacus specific generated files
**/spartacus-*/
**/myabrasives_composable_storefront/dist/

hybris/bin/conf

mssql
mssql/
mssql/mssql.sh
# Include only the custom extensions
!hybris/bin/custom/**


